# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.buildlog/
build/
.idea/
.vscode/
.gradle/
**/android/**/local.properties
**/ios/Pods/
**/ios/Runner/Generated.xcconfig
*.iml

# macOS files
.DS_Store

# vscode
.vscode/

# logs
logs/
*.log
