name: Flutter Android APK (Buyer & Merchant) - Real Bluetooth

on:
  workflow_dispatch:
  push:
    branches: ["**"]

jobs:
  build-android:
    runs-on: ubuntu-latest
    env:
      JAVA_HOME: /usr/lib/jvm/java-11-openjdk-amd64
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      ...
      - name: Upload Merchant APK
        uses: actions/upload-artifact@v4
        with:
          name: merchant-app-apk
          path: Soma_demo_app_foad/merchant-app/build/app/outputs/flutter-apk/app-release.apk
